services:
  workspace:
    image: echoing/workspace:latest
    container_name: echoing-workspace
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - ./apps:/app/apps
      - ./packages:/app/packages
      - ./package.json:/app/package.json
      - ./yarn.lock:/app/yarn.lock
      - ./turbo.json:/app/turbo.json
      - 'workspace:/app'
    environment:
      - NODE_ENV=development
  dapr:
    image: 'daprio/dapr'
    container_name: echoing-dapr
    command: ['./placement', '-port', '50000']
    networks:
      - echoing
  content-service:
    image: node:20-alpine3.21
    container_name: echoing-content-service
    depends_on:
      - workspace
      - dapr
    working_dir: /app
    command: >
      sh -c "corepack enable && yarn workspace @echoing/content-service dev"
    environment:
      - NODE_ENV=development
      - HTTP_PORT=8080
      - GRPC_PORT=50051
    ports:
      - '3100:8080'
    networks:
      - echoing
    volumes_from:
      - workspace
  content-service-dapr:
    image: 'daprio/daprd:edge'
    container_name: echoing-content-dapr
    depends_on:
      - content-service
    command:
      [
        './daprd',
        '-app-id',
        'content',
        '-app-port',
        '50051',
        '-app-protocol',
        'grpc',
        '-app-protocol',
        'http',
        '-dapr-grpc-port',
        '50099',
        '-placement-host-address',
        'placement:50000',
      ]
    network_mode: 'service:content-service'
  farewell-service:
    image: node:20-alpine3.21
    container_name: echoing-farewell-service
    depends_on:
      - workspace
      - dapr
    working_dir: /app
    command: >
      sh -c "corepack enable && yarn workspace @echoing/farewell-service dev"
    environment:
      - NODE_ENV=development
      - HTTP_PORT=8080
      - GRPC_PORT=50051
    ports:
      - '3101:8080'
    networks:
      - echoing
    volumes_from:
      - workspace
  farewell-service-dapr:
    image: 'daprio/daprd:edge'
    container_name: echoing-farewell-dapr
    depends_on:
      - farewell-service
    command:
      [
        './daprd',
        '-app-id',
        'farewell',
        '-app-port',
        '50051',
        '-app-protocol',
        'grpc',
        '-app-protocol',
        'http',
        '-dapr-grpc-port',
        '50099',
        '-placement-host-address',
        'placement:50000',
      ]
    network_mode: 'service:farewell-service'
  greeter-service:
    image: node:20-alpine3.21
    container_name: echoing-greeter-service
    depends_on:
      - workspace
      - dapr
    working_dir: /app
    command: >
      sh -c "corepack enable && yarn workspace @echoing/greeter-service dev"
    environment:
      - NODE_ENV=development
      - HTTP_PORT=8080
      - GRPC_PORT=50051
    ports:
      - '3102:8080'
    networks:
      - echoing
    volumes_from:
      - workspace
  greeter-service-dapr:
    image: 'daprio/daprd:edge'
    container_name: echoing-greeter-dapr
    depends_on:
      - greeter-service
    command:
      [
        './daprd',
        '-app-id',
        'greeter',
        '-app-port',
        '50051',
        '-app-protocol',
        'grpc',
        '-app-protocol',
        'http',
        '-dapr-grpc-port',
        '50099',
        '-placement-host-address',
        'placement:50000',
      ]
    network_mode: 'service:greeter-service'

networks:
  echoing:
    driver: bridge

volumes:
  workspace:
